@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-2">Welcome</h1>
    <h2 class="display-3">Lista Zadan TODO - Projekt Programowania Zaawansowanego 2022/2023</h2>
    <h3 class="display-4">by Aleksandra Chmielewska, Wojciech Domżalski, Eryk Dolajzer</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

